 /* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Anton', sans-serif;
}

/* Generic Styling */

header {
    background-color: darkgreen;
    max-height: auto;
    font-family: 'Anton', sans-serif;
    background-image: url(/assets/images/gymv2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex: 1 0 auto;
    min-height: 100vh;
}

footer {
    background-color: darkgreen;
    position: static;
}

/* Other Styling */

.apr {
    position: relative;
}

#introdiv{
    margin-top: 50px;
    float: right;
}

h2{
    font-size: x-large;
}

#introdiv{
    float: right;
}